html
    head
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700")
        link(rel="stylesheet" href="/css/main.css")
    body
        .menu
            a.menu_item(href="/hello") Hello
            a.menu_item(href="/form") Form
        .wrapper    
            .data   
                h2= name
                h2= lastname
                h2= mail
            